.dockerignore
.git
.gitlab-ci.yml
coverage
*.tsbuildinfo
.env
*.env
.editorconfig
.eslintignore
.eslintrc.js
.husky
.prettierignore
.prettierrc.js
*.http
.lintstagedrc
.gitignore
jest.config.js
test/
README.md
.nest-cli.json
scripts/
